<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    {{>navbar}}
    {{>header}}
    <div class="img-container">
        <img src="./img/me.jpg" alt="person image">
    </div>
    <p>Hi! I am {{name}}</p>
    {{>footer}}
</body>

</html>